.features {
  background-color: $colorTheme;
  color: white;
  font-weight: 300;

  &__title {
    font-size: 2.75rem;
    font-weight: 100;
    text-align: center;
    margin-top: 1rem;

    @mixin atSmall {
      font-size: 3.75rem;
    }
  }

  &__title-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
    height: 6rem;


    @mixin atSmall {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 0.5rem;
      margin-left: 0;
      height: 5rem;
    }
  }

  &__feature-block {

    @mixin atSmall {
    padding-left: 6rem;
    position: relative;
    height: 12rem;
    }

    @mixin atMedium {
      height: 18rem;
    }

    @mixin atLarge {
      height: 12rem;
    }

  }

  &__feature-icon {
    display: block;
    float: left;
    height: 1.75rem;
    margin-right: 1rem;


    @mixin atSmall {
      float: none;
      margin-right: 0;
      position: absolute;
      left: 0;
      height: 4rem;
    }
  }

  &__feature-title {
    font-size: 1.875rem;
    font-weight: 100;
  }

  & p {
    float: left;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;

    @mixin atSmall{
      float: none;
    }
  }

}