.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 1.5rem 0;
  transition: background-color .5s ease-out;

  &--expanded {
    background-color: rgba($colorTheme, 0.55);
  }

  @mixin atMedium {
    background-color: rgba($colorTheme, 0.3);
    padding: 0.625rem 0;

    &--dark {
      background-color: rgba($colorDark, 0.85);
    }
  }



  &__btn-container {

    @mixin atMedium {
    float: right;
    }
  }

  &__nav {

    @mixin atMedium {
    float: right;
    }
  }

  &__nav ul {
    margin: 0;
    padding: 0;
    padding-top: 0.75rem;
  }

  &__nav li {
    list-style: none;
    display: inline-block;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;

    @mixin atMedium {
      display: inline;
      margin-top: 0;
    }
  }

  &__nav li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 1.5rem;
    }
  }

  &__nav a {
    display: inline-block;
    color: white;
    font-weight: 300;
    background-color: $colorAccent;
    padding: 0.75rem;

    @mixin atMedium {
      display: inline;
      background-color: transparent;

      &.is-current-link {
        color: $colorAccent;
      }
    }
  }

  &__menu-btn {
    background-color: $colorAccent;

    @mixin atMedium {
      background-color: $colorTheme;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    background-color: $colorAccent;
    padding: 1.5rem 2rem;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    transform-origin: 50% 0%;
    transition: transform 0.3s ease-out;

    @mixin atMedium {
      left: auto;
      transform: translateX(0) scale(1);
      background-color: $colorTheme;

      .header--dark & {
        transform: scale(0.57);
      }
    }
  }

  &__menu-content {
    opacity: 0;
    position: relative;
    z-index: -999;
    transform: scale(1.2);
    transform-origin: 50% 100%;
    transition: all 0.3s ease-out;
    padding-top: 6.75rem;
    text-align: center;

    &--displayed {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }
  }

  &__menu-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 110;

    &-bars {

      &--top {
        position: absolute;
        top: 0rem;
        left: 0;
        width: 2rem;
        height: 0.3rem;
        background-color: white;
        transform: scaleX(1);
        transform-origin: 0% 0%;
        transition: all 0.3s ease-out;
        box-shadow: 1px 1px 3px $colorTheme;

        &.--close-x {
          transform: rotate(45deg)scaleX(1.25);
          box-shadow: none;
        }
      }

      &--middle {
        position: absolute;
        top: 0.85rem;
        left: 0;
        width: 2rem;
        height: 0.3rem;
        background-color: white;
        opacity: 1;
        transform-origin: 0% 0%;
        transition: all 0.3s ease-out;
        box-shadow: 1px 1px 3px $colorTheme;

        &.--close-x {
          opacity: 0;
        }
      }

      &--bottom {
        position: absolute;
        top: 1.7rem;
        left: 0;
        width: 2rem;
        height: 0.3rem;
        background-color: white;
        transform-origin: 0% 100%;
        transition: all 0.3s ease-out;
        box-shadow: 1px 1px 3px $colorTheme;

        &.--close-x {
          transform: rotate(-45deg) scaleX(1.25);
          box-shadow: none;
        }
      }
    }

    @mixin atMedium {
      display: none;
    }
  }
}