.header {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 1.5rem 0;
  transition: background-color .5s ease-out;

  &--expanded {
    background-color: rgba($colorTheme, 0.55);
  }

  @mixin atMedium {
    background-color: rgba($colorTheme, 0.3);
    padding: 0.625rem 0;
  }

  &__btn-container {

    @mixin atMedium {
    float: right;
    }
  }

  &__nav {

    @mixin atMedium {
    float: right;
    }
  }

  &__nav ul {
    margin: 0;
    padding: 0;
    padding-top: 0.75rem;
  }

  &__nav li {
    list-style: none;
    display: inline-block;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;

    @mixin atMedium {
      display: inline;
      margin-top: 0;
    }
  }

  &__nav li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 1.5rem;
    }
  }

  &__nav a {
    color: white;
    font-weight: 300;
    background-color: $colorTheme;
    padding: 0.75rem;

    @mixin atMedium {
      background-color: transparent;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    background-color: $colorTheme;
    padding: 1.5rem 2rem;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    transform-origin: 50% 0%;

    @mixin atMedium {
      left: auto;
      transform: translateX(0) scale(1);
    }
  }

  &__menu-content {
    opacity: 0;
    position: relative;
    z-index: -999;
    transform: scale(1.2);
    transform-origin: 50% 100%;
    transition: all 0.3s ease-out;
    padding-top: 6.75rem;
    text-align: center;

    &--displayed {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }
  }

  &__menu-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    background-color: white;

    @mixin atMedium {
      display: none;
    }
  }

}