.row {

  @mixin clearfix;

  &--gutters > div {
    padding-right: 3rem;
  }

  &--gutters {
    margin-right: -3rem;
  }

  &--gutters-wide > div {
    padding-right: 6rem;
  }

  &--gutters-wide {
    margin-right: -6rem;
  }

  @mixin atMedium {

    &__med-4 {
      width: 33.33%;
      float: left;
    }

    &__med-4-lg {
      width: 37%;
      float: left;
    }

    &__med-6 {
      width: 50%;
      float: left;
    }

    &__med-8 {
      width: 66.66%;
      float: left;
    }

    &__med-8-sm {
      width: 62%;
      float: left;
    }
  }



}
